@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	color: #616161;
}

.navbar {
    background-color: #5dd1e4;
    padding-top: 10px;
}

nav.custom2 {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

nav ul a {
    color: #616161;
}

li#logo {
    padding-bottom: 60px;
}

.table-of-contents a.active {
    border-left: 8px solid #58c4ea;
}

section#home {
    background-color: #5dd1e4;
    color: #fff;
	padding-top: 100px;
	height: 100vh;
	width: 100vw;
}

section#about {
}

section#projects {
	padding-top: 100px;
}

section#contact {
    color: #fff;
    background-color: #2b2d2f;
}

@media (min-width: 601px) {
	section#home {
		padding-top: 130px;
        background-image: url(../img/iphoneangle.png);
        background-repeat: no-repeat;
        background-size: 62vw;
        background-position: center 60vh;
	}

	section#projects {
		padding-top: 130px;
	}
}

h2#raymond {
    font-weight: 300;
}

span#chung {
    color: #58c4ea;
	font-weight: 700;
}

h5#sub {
	font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    border: 4px solid #fff;
	/* border: 4px solid #fdc424; */
	/* color: #fdc424; */
	padding: 10px;
}

h5#aboutSub {
    font-size: 20px;
    border: 4px solid #fdc424;
    color: #fdc424;
    padding: 10px;
}

@media (min-width: 601px) {
	h5#sub {
		font-size: 24px;
		margin: 0 200px 0 200px;
	}

    h5#aboutSub {
        font-size: 24px;
    }
}

.aTop {
    padding: 40px 0 40px 0;
}

.aBot {
}

h4#title {
    /* color: #58c4ea; */
    letter-spacing: 4px;
    font-weight: 300;
}

hr#hrTitle {
    border: 1.4px solid #5dd1e4;
    margin: 0 600px 0 600px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    list-style: none;
}

.social-buttons, ul.list-inline.social-buttons {
    padding: 0;
    margin-top: 10px;
    margin-bottom: -4px;
}

.social-icons {
    color: transparent;
    font-size: 1.6em;
    border-radius: 200px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

span.social-icons.fa-stack {
    color: rgba(0, 0, 0, 0.3);
}

span.linkedin.social-icons.fa-stack.fa-2x:hover {
    color: #1b8bbf;
    box-shadow: 0 0 0 2px #1b8bbf;
    animation-name: linkedinHover;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

span.github.social-icons.fa-stack.fa-2x:hover {
    color: #ff449c;
    box-shadow: 0 0 0 2px #ff449c;
    animation-name: githubHover;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

span.instagram.social-icons.fa-stack.fa-2x:hover {
    color: #ffae22;
    box-shadow: 0 0 0 2px #ffae22;
    animation-name: instagramHover;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes instagramHover { /* #ffae22 in GBA is 255, 174, 34 */
    0% {box-shadow: 0 0 0 2px rgba(255, 174, 34, 0.2);} 
    25% {box-shadow: 0 0 0 2px rgba(255, 174, 34, 0.4);} 
    50% {box-shadow: 0 0 0 2px rgba(255, 174, 34, 0.6);} 
    75% {box-shadow: 0 0 0 2px rgba(255, 174, 34, 0.8);} 
    100% {box-shadow: 0 0 0 2px rgba(255, 174, 34, 1);} 
}

@keyframes githubHover { /* #ff449c in GBA is 255, 68, 156 */
    0% {box-shadow: 0 0 0 2px rgba(255, 68, 156, 0.2);} 
    25% {box-shadow: 0 0 0 2px rgba(255, 68, 156, 0.4);} 
    50% {box-shadow: 0 0 0 2px rgba(255, 68, 156, 0.6);} 
    75% {box-shadow: 0 0 0 2px rgba(255, 68, 156, 0.8);} 
    100% {box-shadow: 0 0 0 2px rgba(255, 68, 156, 1);} 
}

@keyframes linkedinHover { /* #1b8bbf in GBA is 27, 129, 191 */
    0% {box-shadow: 0 0 0 2px rgba(27, 129, 191, 0.2);} 
    25% {box-shadow: 0 0 0 2px rgba(27, 129, 191, 0.4);} 
    50% {box-shadow: 0 0 0 2px rgba(27, 129, 191, 0.6);} 
    75% {box-shadow: 0 0 0 2px rgba(27, 129, 191, 0.8);} 
    100% {box-shadow: 0 0 0 2px rgba(27, 129, 191, 1);} 
}