<footer id="contact" class="section scrollspy">
      <div class="row center">
        <h4 id="title">LET'S CONNECT</h4>
        <hr id="hrTitle">
        <div class="col s12 m12 l12">
          <ul class="list-inline contact-buttons">
            <li><a href="mailto:{{ site.email }}"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-envelope fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://www.instagram.com/rchung95/" target="_blank"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-instagram fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://ca.linkedin.com/in/raymondchung95" target="_blank"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-linkedin fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://github.com/rchung95" target="_blank"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-github fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://www.behance.net/raymondchung" target="_blank"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-behance fa-stack-1.8x"></i></span></a></li>
          </ul>
        </div>
      </div>
    </footer>