<div class="navbar">
	<div class="nav-wrapper container">
		<ul id="nav-mobile" class="section table-of-contents side-nav hide-on-med-and-down">
			<li><a href="../">HOME</a></li>
			<li><a href="../resume.pdf">RESUME</a></li>
			<li><a href="../#about">ABOUT</a></li>
			<li><a href="../#projects">PROJECTS</a></li>
			<li><a href="../#contact">CONTACT</a></li>
			<li id="menucontact"><i class="fa fa-envelope fa-stack-1.8x"></i> me@raymondchung.ca</li>
			<li id="menucontact"><i class="fa fa-phone fa-stack-1.8x"></i> 416-712-3147</li>
		</ul>
		<a class="right goback" href="../">Go back</a>
		<a id='navbile' href="#" data-activates="nav-mobile" class="button-collapse"><i id="iconFix" class="material-icons">menu</i></a>
	</div>
</div>